body {
  font-family: arial;
  color: #888;
}
.container {
  width: 100%;
  text-align: center;
}
.row {
  width: 100%;
  padding-bottom: 15px;
}
.form {
  border-bottom: 1px solid #ddd;
}

.form textarea,input[type="number"] {
  border:1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.form input[type="submit"] {
  border:1px solid #ddd;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

.form input[type="submit"]:hover {
  background: grey;
  color: white;
  border: 1px solid grey;
}
